/*
Olivia Weston (2022)
Colour palette generated and produced from: 
https://coolors.co/49495a-49aba8-d4cce0-eddfef-e8fab3
*/
:root {
    --background-1: #FAEEE7;
    --button-1: #FF8BA7;
    --headline-1: #33272A;
    --button-text-1: #33272A;
    --paragraph-1: #594A4E;

    --background-2: #FFFFFE;
    --background-2-dark: #FAEEE7;
  }

body {
    background-color: var(--background-1);
    padding: 5%;
    padding-top: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
  
#body-content {
    background-color: var(--background-2);
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;
    position: relative;
    justify-content: space-between;
    width: 90%;
    border-radius: 20px;
}
  
#personal-photo {
    display: table;
}
  
#personal-photo figcaption {
    display: table-caption;
    caption-side: bottom;
    text-align: center;
}

#personal-photo img {
    border-radius: 5px;
    border-style: double;
    border-color: var(--paragraph-1);
    border-width: 7px;
}

#top-bar-flex {
    width: 100%;
    display: flex;
}
  
#top-bar {
    text-align: center;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 0;
    width: 90%;
}

#top-bar-padder {
    width: 10%;
}

#content-flex {
    display: flex;
    width: 100%;
    align-items: flex-start;
    background-color: var(--background-2);
    border-radius: 20px;
}

#links-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#main-wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#intralinks {
    width: 10%;
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
}

.cross-link {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: var(--button-1);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#flex-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-links {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
}

.ratio-flex {
    display: flex;
}

.ratio-90 {
    width: 90%;
}

.ratio-10 {
    width: 10%;
}

.ext-link {
    list-style: none;
    margin: 15px;
}

.index-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#links-list {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 300px;
    flex-direction: row;
    max-width: 300px;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    font-weight: 600;
}

a:link {
    color: var(--button-text-1);
    font-weight: bold;
}

a:visited {
    color: var(--button-text-1);
    font-weight: lighter;
}

h1 {
    font-weight: 600;
}

figcaption {
    font-family: "Ibarra Real Nova", serif;
    font-size: 18px;
}

#project-box {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
}

.project-item {
    max-width: 300px;
    max-height: 450px;
    background-color: var(--button-1);
    border-radius: 5px;
    padding: 10px;
    box-shadow: var(--button-text-1) 5px 5px;
}

.project-item div {
    max-width: inherit;
    max-height: inherit;
}

.project-item div img {
    max-height: 200px;
}

#projects-heading {
    width: 100%;
    text-align: center;
}

.article-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
}

.article-content {
    width: 100%;
    text-align: justify;
}

.tag-span {
    background-color: var(--background-1);
    color: var(--button-text-1);
}

.project-img {
    box-shadow: var(--button-text-1) 5px 5px;
}