/*
Olivia Weston (2022)
Colour palette generated and produced from: 
https://coolors.co/49495a-49aba8-d4cce0-eddfef-e8fab3
*/
:root {
    --primary-bg: #49ABA8;
    --light-1-bg: #62BCB9;
    --light-2-bg: #7EC8C5;
    --dark-1-bg: #3D8F8C;
    --dark-2-bg: #317270;
  
    --primary-tx: #464655;
    --light-1-tx: #5C5C70;
    --dark-1-tx: #373743;
  
    --accent: #E8FAB3;
    --light-1-acc: #F4FDD9;
    --dark-1-acc: #DDF98B;
  
    --secondary: #D4CCE0;
    --tertiary: #EDDFEF;
  }

  
body {
    background-color: var(--primary-bg);
    padding: 5%;
    padding-top: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
  
#body-content {
    background-color: var(--light-2-bg);
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;
    position: relative;
    justify-content: space-between;
    width: 90%;
}
  
#personal-photo {
    display: table;
}
  
#personal-photo figcaption {
    display: table-caption;
    caption-side: bottom;
    text-align: center;
}

#top-bar-flex {
    width: 100%;
    display: flex;
}
  
#top-bar {
    text-align: center;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 0;
    width: 90%;
}

#top-bar-padder {
    width: 10%;
}

#content-flex {
    display: flex;
    width: 100%;
    align-items: flex-start;
}

#links-box {
    display: flex;
    align-items: center;
}

/*
.paper {
    background-image: url("../images/paper_texture.png");
}
*/

#main-wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#bookmarks {
    width: 10%;
    position: relative;
    top: 50px;
}

#bookmark-1 {
    color: var(--light-1-bg);
}

#bookmark-2 {
    color: var(--dark-1-bg);
}

#bookmark-3 {
    color: var(--dark-2-bg);
}

.cross-link {
    font: 16px sans-serif;
}

#flex-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-links {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
}

#footer-text {
    font: 10px sans-serif;
}

.ratio-flex {
    display: flex;
}

.ratio-90 {
    width: 90%;
}

.ratio-10 {
    width: 10%;
}

.ext-link {
    list-style: none;
}