<div class="ratio-flex">
<footer id="flex-footer" class="ratio-90">
  <ul id="footer-links">
    <a class="footer-link" href="/">
      <li class="ext-link">🏠 Homepage</li>
    </a>
    <a class="footer-link" href="https://twitter.com/{{twitterHandle}}">
      <li class="ext-link">🐦 Twitter</li>
    </a>
    <a class="footer-link" href="https://github.com/{{githubUser}}">
      <li class="ext-link">🐙 Github</li>
    </a>
    <a class="footer-link" href="/pgp.asc">
      <li class="ext-link">🔑 PGP</li>
    </a>
    <a class="footer-link" href="mailto:{{email}}">
      <li class="ext-link">✉ Email</li>
    </a>
  </ul>
  <small>This page was made with love using various tools, it's on <a href="https://github.com/Surobaki/academic-soup">Github!</a>
  <br>© 2022 Olivia Weston
  </small>
</footer>
<div class="ratio-10">
  <!-- Probably don't put content here... -->
</div>
</div>