<div class="ratio-flex">
<footer id="flex-footer" class="ratio-90">
  <ul id="footer-links">
    <a class="footer-link" href="/">
      <li class="footer-item">🏠 Homepage</li>
    </a>
    <a class="footer-link" href="https://twitter.com/{{twitterHandle}}">
      <li class="footer-item">🐦 Twitter</li>
    </a>
    <a class="footer-link" href="https://github.com/{{githubUser}}">
      <li class="footer-item">🐙 Github</li>
    </a>
    <a class="footer-link" href="/pgp.asc">
      <li class="footer-item">🔑 PGP</li>
    </a>
    <a class="footer-link" href="mailto:{{email}}">
      <li class="footer-item">✉ Email</li>
    </a>
  </ul>
  <span id="footer-text">This page was made with love using various tools, it's on <a href="https://github.com/Surobaki/academic-soup">Github!</a></span>
</footer>
<div class="ratio-10">
  <!-- Probably don't put content here... -->
</div>
</div>