<div class="ratio-flex">
<footer id="flex-footer" class="ratio-90">
  <ul id="footer-links">
    <a class="footer-link" href="/">
      <li class="ext-link">🏠 Homepage</li>
    </a>
    <a class="footer-link" href="https://twitter.com/{{twitterHandle}}">
      <li class="ext-link">🐦 Twitter</li>
    </a>
    <a class="footer-link" href="https://github.com/{{githubUser}}">
      <li class="ext-link">🐙 Github</li>
    </a>
    <a class="footer-link" href="/pgp.asc">
      <li class="ext-link">🔑 PGP</li>
    </a>
    <a class="footer-link" href="mailto:{{email}}">
      <li class="ext-link">✉ Email</li>
    </a>
  </ul>
  <small>This page was made with love using various tools, it's on <a href="https://github.com/Surobaki/academic-soup">Github!</a>
  <br>© 2022 Olivia Weston
  </small>
</footer>
<div class="ratio-10">
  <!-- Probably don't put content here... -->
</div>
</div>

<!-- Firebase CDN -->
<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.9.2/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.9.2/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyA0ZbI58_GlAFpVs91bivA1tJkAjzyP8XU",
    authDomain: "academic-soup.firebaseapp.com",
    projectId: "academic-soup",
    storageBucket: "academic-soup.appspot.com",
    messagingSenderId: "883119798482",
    appId: "1:883119798482:web:1033d8d0ecd79f75cdd50b",
    measurementId: "G-Y3045T8PS8"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>