<!DOCTYPE html>
<html lang="en">

{{>site/templates/head-metas.html}}

<body>
  <div id="main-wrapper">
    {{>site/templates/header.html}}
    <div id="content-flex">
      <div id="body-content">
        <h2 id="projects-heading">Interesting projects</h2>
        <div id="project-box">
          {{#projects}}
            <a href="{{url}}" class="project-item">
              <div>
                <img src="{{image}}" alt="{{altText}}">
                <p class="project-description">
                  {{description}}
                </p>
                <span class="date-span">{{projectDate}}</span>
                <div class="tag-list">
                  {{#tags}}
                  <span class="tag-span">{{.}}</span>
                  {{/tags}}
                </div>
              </div>
            </a>
          {{/projects}}
        </div>
      </div>
      {{>site/templates/intralinks.html}}
    </div>

  </div>
  {{>site/templates/footer.html}}
</body>

</html>